<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Verkkokauppa</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <style>
    .modal-backdrop {
      z-index: -1;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"> -->
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-primary"> -->
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-primary" style="background-color: #ffffff;"> -->
    <!-- class="navbar navbar-light" style="background-color: #e3f2fd;" -->

    <a class="navbar-brand" href="#">Verkkokauppa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="form-inline mt-2 mt-md-0">
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}" style="color: #ffffff;">Hei {{ current_user.name }} </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_saldo') }}" style="color: #ffffff;">Saldo:
              {{ current_user.saldo }} </a>
          </li> -->
          <li class="nav-item">
            <a href="#" class="nav-link" style="color: #ffffff;" data-toggle="modal" data-target="#exampleModal">Saldo:
              {{ current_user.saldo }} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('product_index') }} " style="color: #ffffff;">Valikoima</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('product_form') }} " style="color: #ffffff;">Lisää tuote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('product_userstorage') }} " style="color: #ffffff;">Minun varasto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('product_buylist') }}" style="color: #ffffff;">Minun ostokset</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('product_selllist') }} " style="color: #ffffff;">Minun myynnit</a>
          </li>
        </ul>
        <a class="btn btn-outline-light" href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>




        {% else %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_login') }}" style="color: #ffffff;">Kirjaudu<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_registration') }}" style="color: #ffffff;">Rekisteröidy<span
                class="sr-only">(current)</span></a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>




  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sinun saldo on {{ current_user.saldo }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for('auth_saldo') }}">
            <table>
              <p>Jos haluat lisätä tilille lisää rahaa se onnistu tämän lomakeen avulla.</p>
              <tr>
                Määrä: <input type="number" name="sum" id="sum" min="1" max="1000" step="1" required="required" />
              <tr>
                <td colspan="2">
                  <input class="btn btn-outline-success" type="submit" value="Lisää rahaa" />
                </td>
              </tr>
            </table>
          </form>
        </div>

      </div>
    </div>
  </div>




  {% block body %}
  <p>
    Content.
  </p>


  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>



</body>



</html>