{% extends "layout.html" %}

{% block body %}
<table>

  {% for product in products %}
  <tr>
    <td>{{ product.name }}</td>

    <td>{{ product.description }}</td>

    <td>{{ product.price }}</td>

    {% if current_user.is_authenticated %}
    {% if current_user.id == product.account_id %}
    <td>
        <p> Tämä on sinun tuote </p>
    </td>
    
    {% else %}
    <td>
      <form method="POST" action="{{ url_for('product_buy', product_id=product.id) }}">
        <input type="submit" value="Osta!" />
      </form>
    </td>
    {% endif %}
    {% endif %}
    

  </tr>



  {% endfor %}
</table>
{% endblock %}