{% extends "layout.html" %}

{% block body %}
{% if viestiKyl %}
<div class="alert alert-success" role="alert">{{ viestiKyl }}</div>
{% endif %}
{% if viestiEi %}
<div class="alert alert-warning" role="alert">{{ viestiEi }}</div>
{% endif %}
<table>
  <tr>
    <th>Tuoteen nimi</th>
    <th>Tuoteen kuvaus</th>
    <th>Myynti hinta</th>
  </tr>
  {% for product in products %}
  <tr>
    <td>{{ product.name }}</td>

    <td>{{ product.description }}</td>

    <td>{{ product.price }}</td>
    <!-- <div class="col-2"><td>{{ product.name }}</td></div> -->

    {% if current_user.is_authenticated %}
    {% if current_user.id == product.account_id %}
    <td>
      <p> Tämä on sinun tuote. Et voi osta sitä.</p>
    </td>

    {% else %}
    <td>
      <form method="POST" action="{{ url_for('product_buy', product_id=product.id) }}">
        <input class="btn btn-outline-success" type="submit" value="Osta!" />
      </form>
    </td>
    {% endif %}
    {% endif %}


  </tr>



  {% endfor %}
</table>
{% endblock %}