{% extends "layout.html" %}

{% block body %}

{% if error %}
<div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}


<form method="POST" action="{{ url_for('auth_login') }}">

      <table>
            <tr>
                  <td>
                        {{ form.username.label }}
                  </td>
                  <td>
                        {{ form.username }}
                  </td>
                  
            </tr>
            <tr>
                  <td>
                        {{ form.password.label }}
                  </td>
                  <td>
                        {{ form.password }}
                  </td>
            </tr>

            <tr>
                  <td colspan="2">
                        <input type="submit" value="Kirjaudu" class="btn btn-outline-success my-2 my-sm-0"
                              type="submit" />
                  </td>
            </tr>
</form>

{% endblock %}