{% extends "layout.html" %}

{% block body %}
{% if error %}
<div class="alert alert-danger" role="alert">{{error}}</div>
{% endif %}
<form method="POST" action="{{ url_for('auth_registration') }}">
  <table>
    <tr>
      <td >
        <p>{{ form.name.label }}</p>
      </td>
      <td>
        {{ form.name(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li><div class="alert alert-warning" role="alert">{{ error }}</div></li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td>
        <p>{{ form.username.label }}</p>
      </td>
      <td>
        {{ form.username(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.username.errors %}
          <li><div class="alert alert-warning" role="alert">{{ error }}</div></li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td>
        <p>{{ form.password.label }}</p>
      </td>
      <td>
        {{ form.password(class_='form-control') }}
      </td>
      <td>
        <ul>
          {% for error in form.password.errors %}
          <li><div class="alert alert-warning" role="alert">{{ error }}</div></li>
          {% endfor %}
        </ul>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Rekisteröidy"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}